html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; background: #F5F5F5 !important}


.navMargin {
	 margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.items {
	height:400px;
}

.orderItems {
	min-height: 400px;
}
.hand {
	cursor: pointer
}
.order {
	margin: 10px;
    width: 100px;
    margin-right: 0px;

}
.food-details {
	border: 1px solid #F5F5F5; 
	padding: 2px; 
	border-radius: 2px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	background: #F5F5F5;
	font-style: italic;
	line-height: 2em;

}
.addFood {
	width: 200px;	
}

.btn-default:hover {
	background: #428bca;
	color: white;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}